<html>
<head>
    <title>hnkz no site</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/loading.css">
    <script type="text/javascript" src="js/typewriter.js"></script>
    <script>
        var pre_prompt_layout = "<span class=\"pre_prompt\">###</span>$ "
        var pre_prompt_text = "{{user}}:{{time}} {{dir}} ";
    </script>
</head>
<body>
    <pre id="title">

.---.  .---. ,---.   .--..--.   .--.    ____..--',---.   .--.    ,-----.       .-'''-. .-./`) ,---------.    .-''-.
|   |  |_ _| |    \  |  ||  | _/  /    |        ||    \  |  |  .'  .-,  '.    / _     \\ .-.')\          \ .'_ _   \
|   |  ( ' ) |  ,  \ |  || (`' ) /     |   .-'  '|  ,  \ |  | / ,-.|  \ _ \  (`' )/`--'/ `-' \ `--.  ,---'/ ( ` )   '
|   '-(_{;}_)|  |\_ \|  ||(_ ()_)      |.-'.'   /|  |\_ \|  |;  \  '_ /  | :(_ o _).    `-'`"`    |   \  . (_ o _)  |
|      (_,_) |  _( )_\  || (_,_)   __     /   _/ |  _( )_\  ||  _`,/ \ _/  | (_,_). '.  .---.     :_ _:  |  (_,_)___|
| _ _--.   | | (_ o _)  ||  |\ \  |  |  .'._( )_ | (_ o _)  |: (  '\_/ \   ;.---.  \  : |   |     (_I_)  '  \   .---.
|( ' ) |   | |  (_,_)\  ||  | \ `'   /.'  (_'o._)|  (_,_)\  | \ `"/  \  ) / \    `-'  | |   |    (_(=)_)  \  `-'    /
(_{;}_)|   | |  |    |  ||  |  \    / |    (_,_)||  |    |  |  '. \_/``".'   \       /  |   |     (_I_)    \       /
'(_,_) '---' '--'    '--'`--'   `'-'  |_________|'--'    '--'    '-----'      `-...-'   '---'     '---'     `'-..-'
    </pre>
    <p class="normal_desc">Hello, {{user}}! This website is hnkz's portfolio. Various gimmicks are prepared. Enjoy your time here !</p>
    <p class="normal_desc">You can use GNU bash commands and so on. For details, please type "cat help.txt".</p>
    <p class="normal_desc">This web site is only for PC browser. Sorry smartphone users...</p>
    <p id="now_line"></p>
    <div id="bottom"></div>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/keytype.js"></script>
</body>

</html>
